  <div >
    <p>Who to follow</p>
        <div>
          <p>
            <strong>John Kalu</strong>
            <small>@johnagukalu222</small>
          </p>
        </div>
        <div>
            <p>
            <strong>John Kalu</strong>
            <small>@johnagukalu222</small>
          </p>
        </div>
      
          <div>
          <p>
            <strong>John Kalu</strong>
            <small>@johnagukalu222</small>
          </p>
        </div>  

        <div>
          <p>
            <strong>John Kalu</strong>
            <small>@johnagukalu222</small>
          </p>
        </div>
  </div>