<div>
    <p >Trends</p>
    <ul>
    #A
    </ul>
    <li href="">
      Trend 5 
    </li>
    <li href="">
      Trend 6
    </li>
    <li href="">
      Trend 7
    </li>
    <li href="">
      Trend 8
    </li>
</div>