<div class="pro ">
<div class = "add_button">
    <%= link_to user_path do %>
      <%= fa_icon "plus-circle 3x", class: "text-secondary"%>
    <%end%>
    </div> 

    <div class="img">
    <img src="https://static.remove.bg/remove-bg-web/a72f919da581145bc8a52ac0c5d21f5c4741f367/assets/start_remove-79a4598a05a77ca999df1dcb434160994b6fde2c3e9101984fb1be0f16d0a74e.png" alt="">
    </div>
</div>