<div class="pro ">
<div class = "add_button">
   
    </div> 
    <div>
    <%= profile_photo(@user)%>
    </div>
</div>

<div>
          <div class = "text-center">
           
        <strong> <%= @user.full_name %>  </strong>

          <br>
          <p>@<%= @user.username%></p><br>
      </div>
         
</div>