/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "font-awesome";

 body {
   background-color: rgb(244,247,248);
 }
 .nav {
   background-color: rgb(83,168,233);
 }

 .my-row, section{
  display: flex;
 }

 .pad {
   padding: 0 30px;
 }

 .menu {
   background-color: rgb(33,50,71);
  height: 100%;
 }

 .grid-container {
  display: grid;
  grid-template-columns: 180px auto;
}

img {
 
  height: 95px;
  width: 95px;
}

.pro {
  display: flex;
  padding-left: 20px;
  margin: 10px 0;
  align-items: center;

}

.pro div:first-child {
  padding-right: 20px;
}

.cover_image{ 
  min-width: 100%;
  min-height: 350px;
  display: block; /* remove extra space below image */
    }

.rounded {
  height: 70px;
  width: 70px;
  padding-right:5px;
}

.my_form {
  margin: 0 auto;
}