<nav class="navbar navbar-expand-lg navbar-light nav">
    <div class="container-fluid">
    <%= link_to root_path do %>
    <%= fa_icon "twitter 2x", class: "text-light"%>
    <%end%>
  </div>
</nav>