<div >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class = 'nav-item'>
          <%= link_to "TWEETS", root_path, class:"nav-link fw-bold" %>
        </li>
        </ul>
              </div>
      </nav>
  </div>